* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #fff;
  font-family: "Playfair Display SC", serif;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 5px;
  box-shadow: none;
  border: none;
  height: 25px;
  margin-bottom: 10px;
}
input:focus {
  outline: 3px solid #3b76ec;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  background-image: url("../img/0.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: change 50s ease-in-out infinite;
  animation-delay: 10s;
  transition: 5s;
}

label {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#btnCadastrar {
  cursor: pointer;
  border: none;
  margin-top: 10px;
  padding: 10px 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #444141;
  text-align: center;
}

#btnCadastrar:hover {
  background-color: #0d6efd;
  transition: 2s;
  outline: #0747a7 2px solid;
}

.card-result{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333232;
  background: #ebebeb70;
  font-size: larger;
  font-weight: 600;
}

.card{
  color: #333232;
  background: #ebebeb70;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 7px 7px 9px -1px rgba(0,0,0,0.75);
  /* transition: all 0.3s ease-out; */
  border-left: 3px solid blue;
}

.card:hover{
  transform: translateY(-5px);
}

.result {
  margin-top: 20px;
  color: #fff;
}

#result{
  display: none;
}

@keyframes change {
  20% {
    animation-delay: 10s;
    background-image: url("../img/1.jpg");
  }
  40% {
    animation-delay: 10s;
    background-image: url("../img/3.jpg");
  }
  60% {
    animation-delay: 10s;
    background-image: url("../img/4.jpg");
  }
  80% {
    animation-delay: 10s;
    background-image: url("../img/7.png");
  }
}